{% extends "layout.html" %}
{% block body %}
<!-- Home -->
<div class="carousel-inner">
    <!-- Image -->
    <div class="carousel-item active">
        <img src="static/img/cali.jpg" class="w-100 image-height" alt="...">
    </div>
    <!-- Caption -->
    <div class="carousel-caption" dir="ltr">
        <a href="/shop" class="btn btn-primary btn-md lang" key="shop">Shop</a>
        <a href="/learnmore" class="btn btn-outline-light btn-md lang" key="learn_more">Learn more</a>
    </div>
</div>
{% endblock %}