{% extends "layout.html" %} {% block body%}
<div class="container mb-3" style="margin-top:5rem;">
    <div class="row">
        <div class="col-sm-8 col-md-6 mb-2">
            <img class="img-fluid" src="static/img/me.jpg">
        </div>
        <div class="col-sm-6" style="font-weight: 900;">
            <p>Hey my name is Ahmad Nabil</p>
            <p>I’m a Computer Engineer student</p>
            <p>from Portsaid, Egypt.</p>
            <p>And this my final project for CS50x.</p>
        </div>
    </div>
</div>
{% endblock %}